<script src="{{ '/assets/js/keyboard-handler.js' | relative_url }}"></script>
<script src="{{ '/assets/src/cocofoliaExporter.js' | relative_url }}"></script>
<script src="{{ '/assets/src/gameData.js' | relative_url }}"></script>
<script src="{{ '/assets/src/imageManager.js' | relative_url }}"></script>
<script src="{{ '/assets/src/utils.js' | relative_url }}"></script>
<script src="{{ '/assets/src/dataManager.js' | relative_url }}"></script>
<script src="{{ '/assets/src/main.js' | relative_url }}"></script>
