<div class="main-footer">
    <div class="button-base footer-help-icon" @mouseover="showHelp = true" @mouseleave="showHelp = false" @click="toggleHelp"
        title="ヘルプ表示">？
    </div>
    <div :class="['status-display', experienceStatusClass]"> 経験点 {{ currentExperiencePoints }} / {{
        maxExperiencePoints }} </div>
    <div class="status-display status-display--weight"> 荷重: {{ currentWeight }} </div>
    <div class="button-base footer-button footer-button--save" @click="saveData"> データ保存 </div>
    <div class="button-base footer-button footer-button--load">
        <input type="file" id="load_input_vue" @change="handleFileUpload" accept=".json,.txt,.zip"
            class="hidden" />
        <label for="load_input_vue">データ読込</label>
    </div>
    <div class="button-base footer-button footer-button--output" @click="outputToCocofolia"> {{
        outputButtonText
        }} </div>
    <transition name="fade">
        <div class="help-panel" v-if="showHelp">
            <button class="help-close" @click="showHelp = false">×</button>
            <div v-html="helpText"></div>
        </div>
    </transition>
</div>
