:root {
  --color-accent-light: #e4caa8;
  --color-accent: #c09a69;
  --color-accent-middle: #726452;
  --color-accent-dark: #3b332a;
  --color-background: #222;
  --color-panel-header: #333;
  --color-panel-sub-header: #2e2e2e;
  --color-panel-body: #252525;
  --color-panel-specialskill: #222;
  --color-border-normal: #444;
  --color-input-bg: #1d1d1d;
  --color-input-disabled-bg: var(--color-panel-body);
  --color-text-normal: #ddd;
  --color-text-muted: #bbb;
  --color-text-input-disabled: #888;
  --color-link: #ccc;
  --color-link-hover: var(--color-accent);
  --color-delete-text: #c05a5a;
  --color-delete-border: #7f5454;
  --color-delete-hover-text: #a86f6f;
  --color-status-experience-ok-border: #5a8b5a;
  --color-status-experience-ok-text: #9aeaa4;
  --color-status-experience-ok-bg: #2f3d2f;
  --color-status-experience-over-border: #8b0000;
  --color-status-experience-over-text: #ffacac;
  --color-status-experience-over-bg: #4d2626;
  --color-status-weight-border: #647687;
  --color-status-weight-text: #b0c4de;
  --color-status-weight-bg: #2a3038;
  --color-load-normal: #ddd;
  --color-load-light: #e0c068;
  --color-load-heavy: #d36b6b;
  --color-load-ghost-normal: #5e5e5e;
  --color-load-ghost-light: #665c36;
  --color-load-ghost-heavy: #663f3f;
}
