:root {
  --color-accent-light: #dbc19d;
  --color-accent: #d3a76e;
  --color-accent-middle: #726452;
  --color-accent-dark: #3b332a;
  --color-background: #171717;
  --color-panel-header: #333;
  --color-panel-sub-header: #2e2e2e;
  --color-panel-body: #222;
  --color-panel-specialskill: #1d1d1d;
  --color-border-normal: #444;
  --color-input-bg: var(--color-background);
  --color-input-disabled-bg: var(--color-panel-body);
  --color-text-normal: #d7d7d7;
  --color-text-muted: var(--color-grey-light);
  --color-text-input-disabled: #bbb;
  --color-link-hover: var(--color-accent);
  --color-delete-text: #c05a5a;
  --color-delete-text-light: #eb8787;
  --color-delete-border: #7f5454;
  --color-delete-hover-text: #a86f6f;
  --color-status-experience-ok-border: #5a8b5a;
  --color-status-experience-ok-text: #9aeaa4;
  --color-status-experience-ok-bg: #1a201a;
  --color-status-experience-over-border: #f74848;
  --color-status-experience-over-text: #fff;
  --color-status-experience-over-bg: #f74848;
  --color-status-weight-border: #647687;
  --color-status-weight-text: #b0c4de;
  --color-status-weight-bg: #2a3038;
  --color-load-normal: #ddd;
  --color-load-light: #e0c068;
  --color-load-heavy: #d36b6b;
  --color-load-ghost-normal: #5e5e5e;
  --color-load-ghost-light: #665c36;
  --color-load-ghost-heavy: #663f3f;
}
