@import url('@fontsource/cinzel-decorative/400.css');
@import url('@fontsource/cinzel-decorative/700.css');
@import url('@fontsource/shippori-mincho/400.css');
@import url('@fontsource/shippori-mincho/500.css');
@import url('@fontsource/shippori-mincho/700.css');
@import url('@fontsource/noto-serif-jp/400.css');
@import url('@fontsource/noto-serif-jp/700.css');
@import url('@fontsource/noto-sans-jp/400.css');
@import url('@fontsource/noto-sans-jp/700.css');
@import url('@fontsource/zen-kurenaido/400.css');
@import url('@fontsource/unifrakturmaguntia/400.css');
